@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --peach: #F9C48B;
    --atomic-tangerine: #F69051;
    --burnt-sienna: #F26D40;
    --black-bean: #260803;
    --seashell: #FDEFEC;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: var(--peach);
}

.box-one,
.box-two {
    color: var(--black-bean);
    background-color: var(--seashell);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

p {
    font-size: 12px; /* phone screens - small */
    margin: 10px auto;
}

@media screen and (min-width: 768px) { /* tablet screens - medium */
    body {
        background-color: var(--atomic-tangerine);
    }
    p {
           font-size: 14px;
    }
}
@media screen and (min-width: 992px) { /* computer screens - large */
    body {
        background-color: var(--burnt-sienna);
    }
    p {
        font-size: 16px;
    }
}

img {
    width: 100%;
    padding: 10px 0;
}


